
name: Update Space Shooter GIF
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
permissions:

contents: write

jobs:

generate:

runs-on: ubuntu-latest

steps:

    - uses: cz19707/gh-space-shooter@v1
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        output-path: assets/space-shooter.gif
        strategy: random
